<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Boete overzicht</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">

                <div class="panel-heading"><h1>Boetefactoren</h1></div>
                <div class="panel-body">

                    <!--new-->
                    <form action="#" th:action="@{/fines/finefactors.do}" th:object="${fineFactorDTO}" method="post">
                        <label>Speeding Factor <input type="text" th:field="*{speedFactor}"/></label>
                        <br/>
                        <label>Emission Factor <input type="text" th:field="*{emissionFactor}"/></label>
                        <br/>
                        <input th:type="submit" th:name="submit" th:value="Submit"/>
                    </form>

                    <a href="/start">Terug naar start</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

