<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Boete overzicht</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Boetefactor overzicht</h5></div>
                <div class="panel-body">
                    <table class="table">
                        <th>
                            <tr>
                                <td th:text="snelheid">$</td>
                                <td th:text="snelheidlimiet">$</td>
                                <td th:text="boetefactor ${fineDTO.VIOLATION_TYPE}$">$</td>
                            </tr>
                            <tr th:each="fineDTO: ${fineDTOS}">
                                <td th:text="${fineDTO.finefactor}">$</td>
                                <td th:text="${fineDTO.violation.VIOLATION_TYPE}">$</td>
                            </tr>
                        </th>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

