<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/images/favicon.ico">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
    <!-- Scripts -->
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Boete overzicht</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Boetefactor overzicht</h5></div>
                <div class="panel-body">



                    <!--old-->
                    <table class="table">
                        <tr>
                            <td>ViolationType</td>
                            <td>Factor</td>
                        </tr>
                        <tr th:each="fineFactorDTO: ${fineFactorDTOS}">
                            <td th:text="${fineFactorDTO.violationType}">$</td>
                            <td th:field="*{fineFactorDTO.factor}">$</td>
                        </tr>
                    </table>


                    <!--new-->
                    <form action="#" th:action="@{/finefactors}">

                    </form>



                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

