<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>retryable_summary</title>
</head>
<body>
<div class="panel-heading"><h1>Retry instellingen messagequeue</h1></div>
<div class="panel-body">

    <form action="#" th:action="@{/retryable/retryableSettings.do}" th:object="${retryableDTO}" method="post">
        <input type="hidden" th:value="${retryableDTO}" name="id"/>
        <label>Retry attempts <input type="text" th:field="*{retryableAttempts}"/></label>
        <br/>
        <label>Retry delay <input type="text" th:field="*{retryableTimeOut}"/></label>
        <br/>
        <input th:type="submit" th:name="submit" th:value="Submit"/>
    </form>

    <a href="/start">Terug naar start</a>

</body>
</html>